body {
	font-family: 'Cousine', monospace;
}

div {
	padding: 10px 0px;
	margin: 10px 0px;
	border: 2px solid black;
}

#gameImg {
	text-align: center;
}

#alphabet > table{
	margin: auto;
	width: 90%;
	border-collapse: collapse;
}

#alphabet > table > tr > td {
	width: 10%;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px;
	border: 1px solid black;
}

#wordToGuess {
	font-size: 2em;
	line-height: 2em;
	letter-spacing: 1.1em;
	text-indent: 1.1em;
	text-align: center;
	display: block;
}

.correct {
	background-color: green;
	color: white;
}

.wrong {
	background-color: red;
	color: white;
}