body {
	font-family: 'Cousine', monospace;
}

#title {
	text-align: center;
	letter-spacing: .5em;
	margin-bottom: 20px;
}

#content {
	min-width: 450px;
}

#gamePanel div {
	padding: 10px 0px;
}

#sidePanel div {
	padding: 20px 0px;
}

#imgDiv {
	text-align: center;
}

#instructions {
	text-align: center;
}

#scoreboard h4 {
	text-align: center;
}

#scoreCounts {
	width: 50%;
	margin: auto;
}

#winCount, #lossCount {
	text-align: right;
}

#alphabet > table{
	margin: auto;
	width: 90%;
	border-collapse: collapse;
}

#alphabet > table > tr > td {
	width: 10%;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px;
	border: 1px solid black;
}

#wordToGuess {
	font-size: 2em;
	line-height: 2em;
	letter-spacing: .8em;
	text-indent: .8em;
	text-align: center;
	display: block;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 240px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content > button {
	margin: 10px 20px;
}
